html, body, h1, form, fieldset, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

form#cash-drawer, form#wallet {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 44%;
	margin-bottom:10pt;
}

fieldset {
	border:none;	
}

form#cash-drawer {
	background: #9cbc2c;
	float:left;
}

form#wallet {
	background:#C90;
	float:right;
}

form legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding:0;
	padding-bottom:6px;
}

#cd-total-amt {
	margin-bottom:-10px;
	padding-right:12px;
	font-weight:600;
}

#cd-total-amt legend {
	display:inline-block;
	float:left;
}

form#cash-drawer legend, form#cash-drawer h1 {
	text-shadow: 0 1px 1px #c0d576;
}

form#wallet legend, form#wallet h1 {
	text-shadow: 0 1px 1px #d6caae;
}

form h1 {
	font-size:24px;
	color: #384313;
	margin-bottom:10px;
	margin-top:-6px;
}

form#cashier {
	clear:both;
	width:100%;
}

div#ui-container {
	width:800px;
}

form ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 24px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form ol li input[type=number]{
	width:80px;
}

form div.amount {
	display:inline-block;
	color: #384313;
	font-size:13px;
	/*margin-left:2em;*/
	float:right;
}

form label {
	float: left;
	font-size: 13px;
	width: 90px;
}

form fieldset {
	margin-top:12px;
}