html, body, h1, fieldset, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

form#cash-drawer, form#wallet, form#transaction {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	margin-bottom:10pt;
}

form#cash-drawer {
	width: 260px;
}

form#exchange {
	width:128px;
	float:left;	
}

form#exchange table {
	padding-top:80px;
	width:100%;
}

form#exchange table tr {
	height:38px;
}

form#exchange table tr#ones { /* special case - extra spacing*/
	height:71px;
}

form#exchange table td {
	width:53px;
	/*height:35px;*/
	background-repeat:no-repeat;
	border:none;
}

form#exchange table td.pay {
	background-image:url(../images/left_arrow_lite.png);
	padding-left:5px;
	padding-bottom:5px;
	float:right;
}

form#exchange input[type=number] {
	width:36px;
	margin-left:9px;
	margin-top:6px;
	border-style:solid;
	border-width:medium;
	/*border-color:#cc9900; Use this for hover and active*/
	border-color:#f1d66b
}

fieldset {
	border:none;	
}

form#cash-drawer {
	background: #9cbc2c;
	float:left;
}

form#wallet {
	background:#C90;
	float:left;
	width: 260px;
}

form#transaction {
	background:#AF9E9A;
	float:left;
	margin-left:1em;
	width:320px;
}

form#transaction ol li input {
	width:50px;	
}

form legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding:0;
	padding-bottom:6px;
}

#cd-total-amt, #w-total-amt {
	margin-bottom:-10px;
	padding-right:12px;
	font-weight:600;
}

#cd-total-amt legend, #w-total-amt legend {
	display:inline-block;
	float:left;
}

form#cash-drawer legend, form#cash-drawer h1 {
	text-shadow: 0 1px 1px #c0d576;
}

form#wallet legend, form#wallet h1 {
	text-shadow: 0 1px 1px #E7B95C;
}

form#transaction legend {
	text-shadow: 0 1px 1px #CBBEBE;
}

form#transaction fieldset {
	margin-top:0;	
}

form h1 {
	font-size:24px;
	color: #384313;
	margin-bottom:10px;
	margin-top:-6px;
}

div#ui-container {
	/*width:810px;*/
}

form ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	/*border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;*/
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;*/
	line-height: 24px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form ol li input[type=number]{
	width:50px;
}

form div.amount {
	display:inline-block;
	color: #384313;
	font-size:13px;
	float:right;
}

form label {
	float: left;
	font-size: 13px;
	width: 90px;
}

form fieldset {
	margin-top:12px;
}


