html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

form#cash-drawer, form#wallet {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
	float:left;
	margin-bottom:10pt;
	border:none;
}

form#cash-drawer {
	background: #9cbc2c;
}

form#wallet {
	background:#C90;
	margin-left:16px;
}

form#cash-drawer legend, form#wallet legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

form#cash-drawer legend {
	text-shadow: 0 1px 1px #c0d576;
}

form#wallet legend {
	text-shadow: 0 1px 1px #d6caae;
}

form#cash-drawer h1 {
	color: #384313;
	text-shadow: 0 1px 1px #c0d576;
}

form#wallet h1 {
	color: #384313;
	text-shadow: 0 1px 1px #d6caae;
}

table#purchase {
	clear:both;
}

